<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Payment Form</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>

<body>

    <body>
        <div class="center">
            <h1 align="center">Purchase Successful</h1>
            <div class="container">
                <h3>You can go back to the RLUX App now!</h3>
            </div>
        </div>
    </body>

</html>